/*
 A # symbol denotes that an element with a specific id should be styled.
*/

/* This style sthe element with the id of "MainPage" */
#MainPage {
    background-color: lightblue;

    /* 
    Try typing to discover what can be styled using intellisense in Visual Studio code, or
    look up information on properties that can be styled.
    */

}

/* This styles the element with the id of "MainHeading" */
#MainHeading {
    color: red;
}

/* This styles the element with the id of "Content" */
#Content {
    color: green
}